.header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-m);
    align-items: flex-start;
}

.header__title {
    pointer-events: none;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: flex-end;
    margin-top: var(--spacing-m);
    margin-bottom: calc(var(--spacing-m));
}

.header__user-avatar {
    cursor: pointer;
    width: var(--header-height);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    font-size: calc(var(--header-height) - var(--header-height)/10);
    line-height: 1;
    overflow: hidden;
    background: rgb(255, 201, 130);
    background: linear-gradient(331deg, rgba(255, 201, 130, 1) 18%, rgba(189, 84, 186, 1) 65%, rgba(181, 46, 169, 1) 78%, rgba(45, 219, 255, 1) 100%);
    user-select: none;
}