.modal__area-around {
    cursor: pointer;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
}

.modal__area-around--visible {
    display: flex;
}