/* button */

.button__container {
    --button-height: 40px;
    --spinner-size: calc(var(--button-height) - var(--button-height) / 5);
    --button-color: var(--color-accent);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--button-height);
}

.button span {
    position: absolute;
    white-space: nowrap;
    top: 0px;
    margin: 0px;
    line-height: var(--button-height);

    animation-name: pop-after-loading__text-animation;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.button {
    top: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-color: var(--button-color);
    color: var(--color-text-primary);
    font-size: var(--font-size-s);
    height: var(--button-height);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: width 0.2s ease;
    animation: pop-after-loading 0.2s;
}

.button:disabled {
    background-color: var(--color-disabled);
    cursor: not-allowed;
}

.button--loading {
    position: absolute;
    width: var(--button-height);
    cursor: wait;

    animation-name: start-loading;
    animation-duration: 0.2s;
}


.button--loading,
.button:disabled {
    background-color: var(--button-color);
    cursor: wait;
}

/* spinner */

.spinner__container {
    --spinner-center-size: calc(var(--spinner-size) - var(--spinner-size) / 3.14);
    --spinner-color: var(--color-text-primary);
    --spinner-background-color: var(--button-color);
    height: var(--spinner-size);
    width: var(--spinner-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    background-color: var(--spinner-color);
    height: var(--spinner-size);
    width: var(--spinner-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;

    animation-name: spinner-appear;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.spinner__center {
    background-color: var(--spinner-background-color);
    height: var(--spinner-center-size);
    width: var(--spinner-center-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.spinner__cover {
    border-radius: 50% 0px;
    width: calc(var(--spinner-size) / 2);
    height: var(--spinner-size);
    background: linear-gradient(to bottom, var(--spinner-background-color), transparent);
    position: absolute;
    left: 0px;
    transform-origin: calc(var(--spinner-size) / 2);

    animation-name: spinner-rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.spinner__cover::after {
    --spinner-head-size: calc(var(--spinner-size) / 6.28);
    background-color: var(--spinner-color);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(var(--spinner-size)/2 - var(--spinner-head-size) / 2);
    content: "";
    width: var(--spinner-head-size);
    height: var(--spinner-head-size);

    animation: spinner-appear;
    animation-duration: 0.4;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.spinner__old-content {
    position: absolute;
    white-space: nowrap;
    animation-name: start-loading__text-animation;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

/* animations */

@keyframes start-loading {
    0% {
        top: 0px
    }

    50% {
        top: 10px
    }

    100% {
        top: 0px
    }
}

@keyframes pop-after-loading {
    0% {
        top: 0px
    }

    50% {
        top: -5px
    }

    100% {
        top: 0px
    }
}

@keyframes start-loading__text-animation {
    0% {
        top: -5px;
        color: inherit;
    }

    50% {
        top: 10px;
    }

    65% {
        color: transparent;
    }

    100% {
        color: transparent;
    }
}

@keyframes pop-after-loading__text-animation {
    0% {
        color: transparent;
        top: 10px
    }

    25% {
        top: 5px;
        color: inherit;
    }

    50% {
        top: -2px
    }

    100% {
        top: 0px;
        color: inherit;
    }
}

@keyframes spinner-rotation {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

@keyframes spinner-appear {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: var(--spinner-color);
    }
}