.icon-button {
    --icon-button-size: 30px;
    
    color: var(--color-accent);
    font-size: var(--icon-button-size);
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--icon-button-size);
    height: var(--icon-button-size);
    max-width: var(--icon-button-size);
    max-height: var(--icon-button-size);
}