.user-avatar {
    --avatar-size: 100px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    font-size: calc(var(--avatar-size) - var(--avatar-size)/10);
    line-height: 1;
    overflow: hidden;
    background: rgb(255, 201, 130);
    background: linear-gradient(331deg, rgba(255, 201, 130, 1) 18%, rgba(189, 84, 186, 1) 65%, rgba(181, 46, 169, 1) 78%, rgba(45, 219, 255, 1) 100%);
    pointer-events: none;
    user-select: none;
}