.input__container {
    --input-container-height: 60px;
    --error-height: calc(var(--input-container-height) * 0.3);
    --input-height: calc(var(--input-container-height) * 0.4);
    --label-height: calc(var(--input-container-height) * 0.3);

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: var(--input-container-height);
    position: relative;
    width: 100%;
}

.input {
    font-size: var(--font-size-m);
    margin-bottom: var(--error-height);
    width: 100%;
    height: var(--input-height);
    border-bottom: 2px solid black;
}


.input:focus+.input__label,
.input:not(:placeholder-shown)+.input__label {
    scale: 0.7;
    cursor: default;
    top: 0px
}

.input__label {
    user-select: none;
    cursor: text;
    line-height: var(--label-height);
    font-size: var(--font-size-m);
    position: absolute;
    left: 0px;
    top: calc(var(--input-height) - var(--input-height) * 0.2);

    transform-origin: 0;
    transition: top 0.15s, scale 0.15s;
}

.input__error {
    font-size: var(--font-size-s);
    top: calc(var(--input-container-height) - var(--error-height) + 5px);
    left: 0px;
    position: absolute;
    color: var(--color-error);
    width: 100%;
}